.card{
    width: 18rem;
    margin: 1vh 0;
    border: 0px;
}
.card:hover{
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    border: none;
    box-shadow:0 2px 15px rgb(0 0 0 / 15%);
}