.pos-on-floor-img{
    width: 100%;
}
.compass{
    transform: rotate(-90deg);
}

.compass-rotate180{
    transform: rotate(180deg);
}
.compass-rotate90{
    transform: rotate(90deg);
}
.compass-rotate0{
    transform: rotate(0deg);
}
.compass-rotate-90{
    transform: rotate(-90deg);
}
@media (max-width: 576px) {

    .compass,.pos-on-floor-img{
        display: none;
    }
}